/* Mengatur ulang padding dan margin default untuk semua elemen */
* { 
    padding: 0;
    margin: 0;
}

/* Memastikan semua elemen dan pseudo-elementnya mengikuti model kotak */
*, *::before, *::after {
    box-sizing: border-box;
   }

h2 {
    text-align: center;
    text-decoration: underline;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0;
}

header.navbar {
    max-width: none;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #96B6C5;

    padding-block: 1.5rem;
    z-index: 999;
}

header.navbar .logo img {
    width: 110px;
}

header.navbar .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar .nav-list li {
    list-style-type: none;
}

header.navbar .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
}

header.navbar .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}

main {
    background-color: #ADC4CE;
    width: 100%;
    margin-inline: auto;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main .depan {
    padding: 4rem 4rem;
    max-width: 1200px;
    flex: 1 1;
    display: flex;
    align-items: center;
}

main .depan .depan-image {
    flex: 1;
    display: flex;
}

main .depan .depan-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
}

main .depan .depan-deskripsi {
    flex: 1 1;
}

main .depan .depan-deskripsi p {
    text-align: justify;
}

main .depan .depan-deskripsi .title {
    font-size: 2.5rem;
    margin-block: 1rem;
}

main .depan .depan-deskripsi button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
 
    border: 3px solid white;
    background-color: #425c77;
    cursor: pointer;
    transition: all .15s ease-in;
}

main .depan .depan-deskripsi button a {
    text-decoration: none;
    color: white;
}

main .depan .depan-deskripsi button:hover {
    border: 3px solid #96B6C5;
    color: #96B6C5;
    background-color: transparent;
    
}

main .about-me {
    background-color: #425c77;
    width: 100%;
    height: auto;
    flex: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 160px;
}

main .about-me p {
    text-align: justify;
}

main .myproject {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    max-width: 1350px;
}

main .myproject .card-project {
    display: flex;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

main .myproject .card-project img {
    margin: auto;
    min-width: 250px;
    width: 300px;
    border: solid;
    box-shadow: 6px 6px 5px 5px #425c77;
}
